<%= render 'form' %>

<div class="admin main content">
  <div class="card box-solid">
    <div class="card-body table-responsive p-5">
      <%= render 'board_detail_matrix', board_matrix: @board_matrix %>
    </div>
  </div>
</div>